Django==4.2.11
djangorestframework==3.14.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.11
python-dotenv==1.0.0
gunicorn==23.0.0
whitenoise==6.7.0
dj-database-url==2.0.0